*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    width: 140px;
    
}

.nav-links {
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative; 

}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
.nav1links li a:hover::after{
    width: 100%;
}

.btn{
    background: #ff3d00;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}
.back-video{
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
    
    }