*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    
}

/* .supersuper{
} */

.super{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;
}

.super ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-decoration: none;
    margin: 0 10px 0 10px;
    text-transform: capitalize;
    color: #fff;
}

.super ul li{
    display: inline-block;
}

.logo {
    width: 200px;
    
}

/* .btn{
    border: none;
    background-color: #ff3d00;
    padding: 30px;
    border-radius: 20px;

} */

.btn button{
    border: none;
    background-color: #ff3d00;
    padding: 20px;
    border-radius: 30px;

}

.btn button a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}


.fnd_cur{
    padding: 20px;
}
/* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* 
.nav-links {
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative; 

}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;

}
.nav-links li a:hover::after{
    width: 100%;
} */ 

/* .btn{
    background: #ff0800;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
} */

body {
    background-image: linear-gradient(200deg, hsla(187, 100%, 69%, 1), hsla(187, 100%, 69%, 0) 70%), linear-gradient(130deg, hsla(300, 100%, 69%, 1), hsla(300, 100%, 69%, 0) 70%), linear-gradient(330deg, hsla(0, 100%, 69%, 1), hsla(0, 100%, 69%, 0) 70%);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50% ,-50%);
    text-align: center;
    color: #fff;
    padding-top: 50px;

}

.content h1{
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

.content form{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;

}

.content form button{
    background: #ff3d00;
    color: #fff;
    padding: 15x 40px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}

.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}

.category{
    width: 80px;
    height: 80px;
    background: rgba(255,61,0,0.15);
    margin: 0 10px;
}

.category img{

    width: 50px;
    
    
}